<div class="container">

    <div class="col-md-3 panel">
        <h2>in my belly<h2>
        <ul class="list-group list-group-flush">
            {{#each burgers}} {{#if devoured}}
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{burger_name}}</h5>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn delete-burger btn-secondary btn-danger" data-id="{{this.id}}">poop</button>
                        </div>
                    </div>
                </div>
            </li>
            {{/if}} {{/each}}
        </ul>
    </div>

    <div class="col-md-4 panel">
        <h2>order up</h2>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="submit-field">
            <button type="button" class="btn submit btn-dark">Add Burger!</button>
        </div>
    </div>

    <div class="col-md-3 panel">
        <h2>on the table</h2>        
        <ul class="list-group list-group-flush">
            {{#each burgers}} {{#if devoured}} {{else}}
            <li class="list-group-item">      
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{burger_name}}</h5>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button typr="button" class="btn update-burger btn-secondary btn-success" data-id="{{this.id}}" data-devoured="{{devoured}}">Eat Me!</button>                                
                        </div>
                    </div>
                </div>
            </li>
            {{/if}} {{/each}}
        </ul>
    </div>
   
</div>

